.smb-phone-plan-deals {
  .smb-phone-plan-deals-list {
    margin: 25px 0 0;
  }

  // TODO use prefixes or bootstrap classes
  .listing-text {
    height: 40px;
    display: inline-block;
  }

  .listing-price {
    width: 20%;
    float: right;
    font-size: 30px;
    text-align: center;
  }

  .better-options {
    margin-top: 10px;

    span {
      margin-right: 10px;
    }
  }
}
