.smb-phone-plan-deals {
  .smb-phone-plan-deal-title {
    margin: 0 0 15px;
  }

  .smb-phone-plan-deals-list {
    margin: 20px 0 0;
  }

  .smb-phone-plan-deal-item {
    padding: 15px 0;
  }

  .smb-phone-plan-deal-price {
    font-size: 30px;
    margin-bottom: 6.5px;
  }
}
