hr {
  border-color: #ccc;
}

.smb-phone-plan-container {
  max-width: 625px;
  background-color: #f2f2f2;
  border-bottom: 2px solid #ccc;
}

.smb-phone-plan-header {
  color: #fff;
  display: flex;
  background: #333;
  padding: 10px 20px;
  align-items: center;
}

.smb-phone-plan-title {
  margin: 0;
}

.smb-phone-plan-logo {
  width: 90px;
  margin-left: auto;
}

.smb-phone-plan-body {
  padding: 20px;
}

.smb-phone-plan-formular {
  transition: opacity .5s linear;

  &.blur {
    opacity: .4;
  }
}
