$nav-link-horizontal-padding: 25px;
$nav-link-button-bg: rgba(0, 0, 0, .15);
$nav-link-button-bg-hover: rgba(0, 0, 0, .3);

.smb-gallery-desktop {
  .smb-gallery-header {
    position: relative;
    margin-bottom: 25px;
  }

  .smb-gallery-nav {
    top: 0;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;

    &:hover {
      text-decoration: none;

      .smb-gallery-button {
        background-color: $nav-link-button-bg-hover;
      }
    }
  }

  .smb-gallery-button {
    height: 120px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $nav-link-button-bg;
    font-size: 4rem;
    color: #fff;
  }

  .smb-gallery-nav-right {
    right: 0;
    padding-left: $nav-link-horizontal-padding;
  }

  .smb-gallery-nav-left {
    padding-right: $nav-link-horizontal-padding;
  }

  .smb-gallery-media {
    text-align: center;
  }

  .SocialMediaPosting {
    min-height: 450px;

    iframe {
      margin-bottom: 0 !important;
    }

    [type="image/gif"] {
      width: auto !important;
    }
  }

  .smb-gallery-info {
    margin-top: 12.5px;
    display: flex;
    justify-content: space-between;
  }

  .smb-gallery-btn-nav {
    display: flex;
    justify-content: space-between;
  }

  .embed-responsive-item {
    &.embed-extended {
      width: unset;
      left: unset;
      right: 50%;
      transform: translate(50%);
    }
  }
}
