$nav-link-horizontal-padding: 25px;

.smb-gallery-desktop {
  .smb-gallery-header {
    position: relative;
    margin-bottom: 25px;
  }

  .smb-gallery-nav {
    top: 0;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;

    &:hover {
      text-decoration: none;
    }
  }

  .smb-gallery-nav-right {
    right: 0;
    padding-left: $nav-link-horizontal-padding;
  }

  .smb-gallery-nav-left {
    padding-right: $nav-link-horizontal-padding;
  }

  .smb-gallery-media {
    text-align: center;
  }

  .SocialMediaPosting {
    min-height: 450px;

    iframe {
      margin-bottom: 0 !important;
    }

    [type="image/gif"] {
      width: auto !important;
    }
  }

  .smb-gallery-info {
    margin-top: 12.5px;
    display: flex;
    justify-content: space-between;
  }

  .smb-gallery-btn-nav {
    display: flex;
    justify-content: space-between;

    .smb-gallery-referrer {
      padding-left: 0;
    }
  }

  .embed-responsive-item {
    &.embed-extended {
      width: unset;
      left: unset;
      right: 50%;
      transform: translate(50%);
    }
  }
}
