.smb-gallery-mobile {
  .smb-gallery-media {
    margin-bottom: 25px;

    .smb-gallery-info {
      margin-top: 12.5px;
      display: flex;
      justify-content: space-between;
    }
  }

  .ImageObject {
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  .VideoObject {
    iframe {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  .smb-gallery-content {
    *:last-child {
      margin-bottom: 0;
    }
  }

  .smb-gallery-ed-container {
    text-align: center;
    margin: 25px -10px;
    min-height: 250px;
    padding: 12.5px;
    background: #f2f2f2;
  }
}
